{% extends 'logview/base.html' %}

{% block content %}

<small>{{num_logs}} entries ({{num_logs_percent}}%)</small>

<hr>

{{paginator|safe}}

{{histogram|safe}}

<form method="get">
    <input type="submit" hidden="hidden">

    <table class="log-table">
        <thead>
            <tr>
                {% for name in headers %}
                    <td>{{ name }}</td>
                {% endfor %}
            </tr>
            {% for headers in header_lines %}
                <tr class="filter-line-{{headers.0}}">
                    {% for head in headers.1 %}
                        <td>{{ head.widget|safe }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{log.file}}</td>
                <td>{{log.date.isoformat}}</td>
                <td>{{log.time.isoformat}}</td>
                <td>{{log.user}}</td>
                <td>{{log.source_ip}}</td>
                <td>{{log.task}}</td>
                <td>{{log.text}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}