{% extends 'logview/base.html' %}

{% block content %}

<small>{{num_logs}} entries ({{num_logs_percent}}%)</small>

<hr>

<div class="paginator">
    {% for p in pages %}<div>{{p|safe}}</div>{% endfor %}
</div>

<form method="get">
    <input type="submit" hidden="hidden">

    <table class="log-table">
        <thead>
            <tr>
                {% for head in headers %}
                    <td>{{ head.name }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for head in headers %}
                    <td>{{ head.widget|safe }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{log.file}}</td>
                <td>{{log.date.isoformat}}</td>
                <td>{{log.user}}</td>
                <td>{{log.task}}</td>
                <td>{{log.text}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}