.log-table {

}

.log-table td {
    padding-left: 7px;
    padding-right: 7px;
}

.log-table .filter-line-0 {
    background: #f0fff0;
}

.log-table .filter-line-1 {
    background: #fff0f0;
}

.log-table tr:hover {
    background: #eee;
}

.paginator {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.paginator>div {
    margin-right: 5px;
}